/* Reseting browser styles */
* { 
    position: device-fixed;
    margin: 0;
    padding: 0;
}

section {
    width: 960px;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    max-height: 100%;
    z-index: 6;
    background: #fff;
}

#iv {
    position: absolute;
    z-index: 5;
    left: 50%; transform: translate(-50%,0);
}

img {
    height: 1370px;
}

/* External Font */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/SansationLight.woff);
}

body {
    margin:0 auto;
    font-family:'Arial','Times New Roman', Times, serif;
    display: block;
}

#p {
    color: gray; 
    font-size: 40px;
    padding:20px;
}

nav {
    text-align: center;
    background: #646464;
    padding: 15px 0;
    border: 1px solid #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
}

h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: myFirstFont;
    font-weight: bold;
    color: #fff;
    font-size: 75px;
}

h2 {
    font-weight: normal;
    font-style: normal;
    color:#fff;
    padding: 20px 0;
    font-size: 70px;
    margin:0 auto;
    max-width: 500px;
    text-align: center
}

footer p {
    background-color:#000000;
    margin: 0px; 
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

#art1 {
    text-align: center;
    background: #00bfff; 
}

.l {
    font-size:5px;
}

#t {
    background: url("../img/companylogoBG.jpg") no-repeat;
    background-position: center; 
    margin: 0px;  
    background-size: cover;
    text-align: center;
    padding: 50px 0;
}

img {
    max-width: 100%;
}

#t1 {
    background-position: center; 
    margin: 0px; 
    padding: 0px; 
    max-width:100%;
    text-align: center;
    display: block;
    margin-left: 20px;
    background: transparent;
    border: 0px
}

#a {
    background:url(../img/product1.jpg) no-repeat center center;
    background-size: cover;
    width: 32.1%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}

#b {
    background:url(../img/product2.jpg) no-repeat center center;
    background-size: cover;
    width: 32.1%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}

#c {
    background:url(../img/product3.jpg) no-repeat center center;
    background-size: cover;
    float: left;
    width: 32.65%;
    border:5px solid #fff;
    display: block;
    height: 200px;
}
#d {
    background:url(../img/product4.jpg) no-repeat center center;
    background-size: cover;
    width: 32.1%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}

#e {
    background:url(../img/product5.jpg) no-repeat center center;
    background-size: cover;
    width: 32.1%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}

#f {
    background:url(../img/product6.jpg) no-repeat center center;
    background-size: cover;
    width: 32.65%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}

#g {
    background:url(../img/product7.jpg) no-repeat center center;
    background-size: cover;
    width: 32.1%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}
#h {
    background:url(../img/product8.jpg) no-repeat center center;
    background-size: cover;
    float: left;
    width: 32.1%;
    border:5px solid #fff;
    display: block;
    height: 200px;
}

#i {
    background:url(../img/product9.jpg) no-repeat center center;
    background-size: cover;
    width: 32.65%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}

#j {
    background:url(../img/product10.jpg) no-repeat center center;
    background-size: cover;
    width: 32.1%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}

#k {
    background:url(../img/product11.jpg) no-repeat center center;
    background-size: cover;
    width: 32.1%;
    border:5px solid #fff;
    float: left;
    display: block;
    height: 200px;
}
#l {
    background:url(../img/product12.jpg) no-repeat center center;
    background-size: cover;
    float: left;
    width: 32.65%;
    border:5px solid #fff;
    display: block;
    height: 200px;
}

#t1,#u1,#head1 {
    display: none;
}

span {
    width: 40px;
    height: 10px;
    margin: 3px 0;
    display: block;
    background-color: #fff;
}

.as {
    background: #fff;
}
                                                            /* media queries */

                                                            
/* PC settings */
@media only screen and (min-width: 960px) {

    #art2::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #art3::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #art4::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #art5::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #art5 {
        margin-bottom: 20px;
    }
    
    #art1 {
        margin-bottom: 20px;
    }    
}

/* Tablet Layout */
@media only screen and (min-width: 360px) and (max-width: 959px) {

    #art1,#iv,#head1 {
        display: none;
    }

    body {
        width: 100%;
        height: 100%;
    }

    section {
        margin-bottom: 0;
        background: #fff;
    }

    .art {
        background-color: #F2F0F0;
    }

    #t1,#u {
        display: none;
    }

    #u1 {
        display: block;
    }

    #a {
        width: 48.5%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

    #b {
        width: 48.6%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

    #c {
        width: 48.5%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

    #d {
        width: 48.6%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }
    #e {
        width: 48.5%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

    #f {
        width: 48.6%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }
    #g {
        width: 48.5%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

    #h {
        width: 48.6%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }
    #i {
        width: 48.5%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

    #j {
        width: 48.6%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }
    #k {
        width: 48.5%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

    #l {
        width: 48.6%;
        border:5px solid #fff;
        float: left;
        display: block;
        height: 200px;
    }

}

/* Mobile Layout */
@media screen and (max-width: 359px) {

    #u1,#u,#iv,#head {
        display: none;
    }

    #head1 {
        display: block;
    }

    body {
        width: 100%;
        height: 100%
    }

    #p {
        display: none;
    }

    header h1 {
        color: #fff;
        font-size: 45px;
        font-weight: bold;
    }
    
    h2 {
        font-size: 30px;
        background-color: #00bfff;
    }
    
    #t1 {
        display: block;
        margin-left: 20px;
    }
    
    nav ul {
        display: none;
    }
    
    #a,#b,#c,#d,#e,#f,#g,#h,#i,#j,#k,#l {
        border: 20px solid #fff;
        display: block;
        height: 180px;
        width: 90%
    }
    
    #art1,#art2 {
        background:#fff;
        display:block;
    }
    
    footer p {
        font-size: 15px;
    }
}
    
